body{
   
    background-color:pink;
}
#headerSection{
                padding:5px;
}
#h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    width:14%;
}
#loginbutton{
    padding: 10px;
    border-radius: 5px;
    background-color:crimson ;
    color:white;
    font-size:15px;

}
#h3{
    padding:1%;
    }

 